## Importing Libraries

We will start by importing the necessary packages.

In [1]:
# Basic Libraries
import numpy as np
import pandas as pd

#to handle dataset downloading
from os.path import exists
import os
import urllib.request
import zipfile

Next, we need to import the .csv file containing all the data. The code will look if the dataset exists, and if it doesn't exist, will download and unzip it. Once imported, the pandas dataframe will be named "sanfrancisco".

Optionally, we've also included an option to download and use the dataset directly from the site URL, but due to its size, we won't do that by default.

In [2]:
#sanfrancisco = pd.read_csv('https://stacks.stanford.edu/file/druid:yg821jf8611/yg821jf8611_ca_san_francisco_2020_04_01.csv.zip')

if not exists('./ca_san_francisco_2020_04_01.csv'):
    url = 'https://stacks.stanford.edu/file/druid:yg821jf8611/yg821jf8611_ca_san_francisco_2020_04_01.csv.zip'
    download = urllib.request.URLopener()
    download.retrieve(url, "file.zip")
    with zipfile.ZipFile("file.zip", 'r') as zip_ref:
        zip_ref.extractall("./")
    os.remove("file.zip")
    

sanfrancisco = pd.read_csv('ca_san_francisco_2020_04_01.csv')

/tmp/ipykernel_3287/3452435919.py:12: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  sanfrancisco = pd.read_csv('ca_san_francisco_2020_04_01.csv')

In [3]:
sanfrancisco.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 905070 entries, 0 to 905069
Data columns (total 22 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   raw_row_number                     905070 non-null  object
 1   date                               905070 non-null  object
 2   time                               905035 non-null  object
 3   location                           905027 non-null  object
 4   lat                                903373 non-null  float64
 5   lng                                903373 non-null  float64
 6   district                           852883 non-null  object
 7   subject_age                        846182 non-null  float64
 8   subject_race                       905070 non-null  object
 9   subject_sex                        905070 non-null  object
 10  type                               905070 non-null  object
 11  arrest_made                        905070 non-null  bool
 12  citation_issued                    905070 non-null  bool
 13  warning_issued                     905070 non-null  bool
 14  outcome                            889389 non-null  object
 15  contraband_found                   53381 non-null   object
 16  search_conducted                   905070 non-null  bool
 17  search_vehicle                     905070 non-null  bool
 18  search_basis                       53381 non-null   object
 19  reason_for_stop                    902858 non-null  object
 20  raw_search_vehicle_description     905070 non-null  object
 21  raw_result_of_contact_description  905070 non-null  object
dtypes: bool(5), float64(3), object(14)
memory usage: 121.7+ MB

From the output, there are 22 colummns in this dataset with 905 thousand entries.

***
# Data Cleaning

However, before any analysis can be done, we need to first understand the dataset, and carry out data cleaning as necessary.

In [4]:
temp = sanfrancisco.sample(n = 20)
temp.head(n=20)

,raw_row_number,date,time,location,lat,lng,district,subject_age,subject_race,subject_sex,...,citation_issued,warning_issued,outcome,contraband_found,search_conducted,search_vehicle,search_basis,reason_for_stop,raw_search_vehicle_description,raw_result_of_contact_description
212896,180187,2008-09-08,00:25:00,CLEMENT & 18TH AV,37.782357,-122.477395,G,70.0,asian/pacific islander,male,...,True,False,citation,NaN,False,False,NaN,Moving Violation,No Search,Citation
867021,749560,2016-04-08,18:55:00,FOLSOM ST. & JUNIPER ST.,37.772350,-122.413449,B,49.0,white,male,...,True,False,citation,NaN,False,False,NaN,Moving Violation,No Search,Citation
810059,819549,2015-07-22,11:25:00,7TH AVE & GEARY,37.781040,-122.465378,G,79.0,asian/pacific islander,male,...,True,False,citation,NaN,False,False,NaN,Moving Violation,No Search,Citation
557081,525113,2011-11-30,13:55:00,MISSION & 6TH ST,37.780974,-122.408734,B,28.0,white,female,...,True,False,citation,NaN,False,False,NaN,Mechanical or Non-Moving Violation (V.C.),No Search,Citation
166113,133288,2008-04-02,09:05:00,LINCOLN @ 30TH AV,37.764974,-122.489069,I,29.0,white,male,...,True,False,citation,NaN,False,False,NaN,Moving Violation,No Search,Citation
896146,883438,2014-09-25,15:45:00,JONES/BERNARD,37.796331,-122.415119,NaN,NaN,black,female,...,True,False,citation,NaN,False,False,NaN,Mechanical or Non-Moving Violation (V.C.),No Search,Citation
470439,438225,2011-01-23,09:31:00,1 VARELA,37.720760,-122.476091,I,24.0,white,male,...,True,False,citation,NaN,False,False,NaN,Mechanical or Non-Moving Violation (V.C.),No Search,Citation
876156,758740,2016-05-18,01:15:00,STILL & LIAIL,37.731565,-122.432588,H,39.0,asian/pacific islander,male,...,True,False,citation,NaN,False,False,NaN,Moving Violation,No Search,Citation
291609,259162,2009-05-12,17:45:00,6TH AVE AND CLEMENT,37.782954,-122.464437,G,59.0,white,male,...,True,False,citation,NaN,False,False,NaN,Moving Violation,No Search,Citation
637942,606127,2012-11-17,11:55:00,CLEMENT ST & 9TH AVE,37.782802,-122.467644,G,55.0,white,female,...,True,False,citation,NaN,False,False,NaN,Moving Violation,No Search,Citation
856616,739084,2016-02-22,18:50:00,840 BRANNON,37.772462,-122.404561,J,28.0,black,female,...,False,True,warning,NaN,False,False,NaN,Moving Violation,No Search,Warning
883450,766129,2016-06-20,23:45:00,840 CAPP ST.,37.753206,-122.417725,D,38.0,hispanic,male,...,True,False,citation,NaN,False,False,NaN,Mechanical or Non-Moving Violation (V.C.),No Search,Citation
347215,314839,2009-11-17,19:23:00,1033 TARAVAL,37.742809,-122.477395,I,33.0,asian/pacific islander,male,...,True,False,citation,NaN,False,False,NaN,Moving Violation,No Search,Citation
552139,519800,2011-11-09,09:25:00,STOCKTON & SUTTER,37.789432,-122.406993,A,56.0,other,male,...,False,True,warning,NaN,False,False,NaN,Moving Violation,No Search,Warning
422742,390557,2010-08-10,15:18:00,HAIGHT ST&BUENA VISTA EAST ST,37.770852,-122.440387,F,59.0,white,female,...,True,False,citation,NaN,False,False,NaN,Mechanical or Non-Moving Violation (V.C.),No Search,Citation
437371,405262,2010-09-21,12:46:00,MONTEREY / CIRCULAR,37.731587,-122.436422,H,30.0,asian/pacific islander,male,...,True,False,citation,NaN,False,False,NaN,Moving Violation,No Search,Citation
877461,760120,2016-05-24,14:26:00,SAN JOSE AVE./ NANTUCKET ST.,37.727967,-122.440799,H,54.0,hispanic,male,...,True,False,citation,NaN,False,False,NaN,Moving Violation,No Search,Citation
352843,320475,2009-12-07,15:00:00,23RD AND MISSION,37.753845,-122.418619,D,26.0,black,male,...,True,False,citation,NaN,False,False,NaN,Moving Violation,No Search,Citation
469494,437285,2011-01-20,02:50:00,2224 MISSION ST,37.761336,-122.419627,D,44.0,hispanic,male,...,True,False,citation,False,True,True,other,Mechanical or Non-Moving Violation (V.C.),"Vehicle Inventory, Negative Result",Citation
86426,53233,2007-06-29,06:55:00,22ND ST & IOWA,37.757722,-122.392091,C,27.0,other,male,...,True,False,citation,NaN,False,False,NaN,Moving Violation,No Search,Citation

In [5]:
sanfrancisco.describe(include="all")

,raw_row_number,date,time,location,lat,lng,district,subject_age,subject_race,subject_sex,...,citation_issued,warning_issued,outcome,contraband_found,search_conducted,search_vehicle,search_basis,reason_for_stop,raw_search_vehicle_description,raw_result_of_contact_description
count,905070,905070,905035,905027,903373.000000,903373.000000,852883,846182.000000,905070,905070,...,905070,905070,889389,53381,905070,905070,53381,902858,905070,905070
unique,905070,3468,1440,313001,NaN,NaN,13,NaN,5,2,...,2,2,3,2,2,2,2,26,36,27
top,869921,2009-03-20,23:00:00,FILLMORE/OFARRELL,NaN,NaN,H,NaN,white,male,...,True,False,citation,False,False,False,other,Moving Violation,No Search,Citation
freq,1,630,6002,1249,NaN,NaN,117520,NaN,372318,639219,...,631660,658946,631602,45405,851689,851689,48676,563105,851482,631276
mean,NaN,NaN,NaN,NaN,37.762853,-122.429254,NaN,37.818577,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,0.036688,0.042173,NaN,13.632684,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,36.038676,-123.767429,NaN,10.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,37.740649,-122.448233,NaN,27.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,37.770038,-122.421294,NaN,35.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,37.782610,-122.408425,NaN,47.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,39.929646,-113.268151,NaN,100.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Of the 22 columns, there are a few colummns that will need to be removed.

| **Columns**                       | **Reasons**                                                                                                  |
|-----------------------------------|--------------------------------------------------------------------------------------------------------------|
| raw_row_number                    | Not needed                                                                                                   |
| time                              | Might be helpful in certain analysis but not relevant to our problem statement.                              |
| location                          | Might be helpful in certain analysis but not relevant to our problem statement.                              |
| lat                               | Might be helpful in certain analysis but not relevant to our problem statement.                              |
| lng                               | Might be helpful in certain analysis but not relevant to our problem statement.                              |
| type                              | Only one unique value, which is "vehicular"                                                                  |
| arrest_made                       | Already summarised by colummn "outcome"                                                                      |
| citation_issued                   | Already summarised by colummn "outcome"                                                                      |
| warning_issued                    | Already summarised by colummn "outcome"                                                                      |
| search_conducted                  | Duplicate of colummn "search_vehicle"                                                                        |
| search_basis                      | Not useful due to a significant portion of the entries being "other", which is not very descriptive          |
| raw_search_vehicle_description    | Categorical data with too many unique entries, generally doesn't add much to the analysis nor model-building |
| raw_result_of_contact_description | Duplicate of colummn "search_basis"                                                                          |

In [6]:
sanfranciso = sanfrancisco.drop(columns=["raw_row_number",
                                         "time",
                                         "location",
                                         "lat",
                                         "lng",
                                         "type",
                                         "arrest_made",
                                         "citation_issued",
                                         "warning_issued",
                                         "search_conducted",
                                         "search_basis",
                                         "raw_search_vehicle_description",
                                         "raw_result_of_contact_description"],
                                
                                inplace=True)

In [7]:
sanfrancisco.describe(include="all")

,date,district,subject_age,subject_race,subject_sex,outcome,contraband_found,search_vehicle,reason_for_stop
count,905070,852883,846182.000000,905070,905070,889389,53381,905070,902858
unique,3468,13,NaN,5,2,3,2,2,26
top,2009-03-20,H,NaN,white,male,citation,False,False,Moving Violation
freq,630,117520,NaN,372318,639219,631602,45405,851689,563105
mean,NaN,NaN,37.818577,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,13.632684,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,10.000000,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,27.000000,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,35.000000,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,47.000000,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,NaN,NaN

From the describe function, there are still quite alot of data with no values (NA). However, it is important to note that not all NaN means no data. 

In the case of district, subject_age, search_vehicle, reason_for_stop", NaN does imply a an absence of data. But for contraband_found in particular, NaN actually means a search was not conducted, and in the case of outcome, NaN means that nothing happened to the driver that was stopped, not that the data is imcomplete. Therefore, special care must be taken to not accidentally remove these row.

In [8]:
#remove rows with null values except contraband_found
sanfrancisco = sanfrancisco.dropna(axis=0, subset=["district", "subject_age", "search_vehicle", "reason_for_stop"])
sanfrancisco.describe(include="all")

,date,district,subject_age,subject_race,subject_sex,outcome,contraband_found,search_vehicle,reason_for_stop
count,844223,844223,844223.000000,844223,844223,829699,49599,844223,844223
unique,3254,13,NaN,5,2,3,2,2,25
top,2009-03-20,H,NaN,white,male,citation,False,False,Moving Violation
freq,627,116470,NaN,350317,595578,589829,42432,794624,526242
mean,NaN,NaN,37.830546,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,13.634125,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,10.000000,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,27.000000,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,35.000000,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,47.000000,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
#replace NaN with more meaningful information
sanfrancisco["contraband_found"].fillna(value="search not conducted", inplace=True)
sanfrancisco["outcome"].fillna(value = "without valid reason", inplace = True)

In [10]:
sanfrancisco.describe(include="all")

,date,district,subject_age,subject_race,subject_sex,outcome,contraband_found,search_vehicle,reason_for_stop
count,844223,844223,844223.000000,844223,844223,844223,844223,844223,844223
unique,3254,13,NaN,5,2,4,3,2,25
top,2009-03-20,H,NaN,white,male,citation,search not conducted,False,Moving Violation
freq,627,116470,NaN,350317,595578,589829,794624,794624,526242
mean,NaN,NaN,37.830546,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,13.634125,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,10.000000,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,27.000000,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,35.000000,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,47.000000,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
sanfrancisco.isna().sum()

date                0
district            0
subject_age         0
subject_race        0
subject_sex         0
outcome             0
contraband_found    0
search_vehicle      0
reason_for_stop     0
dtype: int64

In [12]:
sanfrancisco.reset_index(drop=True, inplace=True)

As for the colummn reason_for_stop, there are instances where a driver could be stopped for more that one reason. As such, we have chosen to use the first entry as the main reason for stop to minimise the unique entries to simplify the analysis. For cases where NA exists, the next reason will be used.

In [13]:
sanfrancisco["reason_for_stop"].value_counts()

Moving Violation                                                                                                                                                                            526242
Mechanical or Non-Moving Violation (V.C.)                                                                                                                                                   310415
MPC Violation                                                                                                                                                                                 3218
Traffic Collision                                                                                                                                                                             1201
BOLO/APB/Warrant                                                                                                                                                                              1116
DUI Check                                                                                                                                                                                      994
Assistance to Motorist                                                                                                                                                                         842
Moving Violation|Mechanical or Non-Moving Violation (V.C.)                                                                                                                                     154
Moving Violation|MPC Violation                                                                                                                                                                  14
Moving Violation|Mechanical or Non-Moving Violation (V.C.)|MPC Violation                                                                                                                         3
Moving Violation|NA                                                                                                                                                                              3
Mechanical or Non-Moving Violation (V.C.)|Moving Violation                                                                                                                                       3
Moving Violation|DUI Check                                                                                                                                                                       2
Mechanical or Non-Moving Violation (V.C.)|DUI Check                                                                                                                                              2
Moving Violation|Assistance to Motorist                                                                                                                                                          2
Moving Violation|Traffic Collision                                                                                                                                                               2
Mechanical or Non-Moving Violation (V.C.)|BOLO/APB/Warrant                                                                                                                                       2
Moving Violation|BOLO/APB/Warrant                                                                                                                                                                1
NA|Traffic Collision                                                                                                                                                                             1
Mechanical or Non-Moving Violation (V.C.)|Assistance to Motorist                                                                                                                                 1
Moving Violation|MPC Violation|MPC Violation                                                                                                                                                     1
Moving Violation|Mechanical or Non-Moving Violation (V.C.)|Mechanical or Non-Moving Violation (V.C.)                                                                                             1
Moving Violation|Mechanical or Non-Moving Violation (V.C.)|Mechanical or Non-Moving Violation (V.C.)|Mechanical or Non-Moving Violation (V.C.)|Mechanical or Non-Moving Violation (V.C.)         1
MPC Violation|Moving Violation                                                                                                                                                                   1
NA|Moving Violation                                                                                                                                                                              1
Name: reason_for_stop, dtype: int64

In [14]:
sanfrancisco["reasons_for_stop"] = sanfrancisco["reason_for_stop"]

sanfrancisco["no_of_reasons"] = ""

for i in range(sanfrancisco.shape[0]):
    count = 1
    for j in sanfrancisco.loc[i, "reasons_for_stop"]:
        if j == "|":
            count += 1
    sanfrancisco.loc[i, "no_of_reasons"] = count

In [15]:
sanfrancisco.describe(include="all")

,date,district,subject_age,subject_race,subject_sex,outcome,contraband_found,search_vehicle,reason_for_stop,reasons_for_stop,no_of_reasons
count,844223,844223,844223.000000,844223,844223,844223,844223,844223,844223,844223,844223.0
unique,3254,13,NaN,5,2,4,3,2,25,25,4.0
top,2009-03-20,H,NaN,white,male,citation,search not conducted,False,Moving Violation,Moving Violation,1.0
freq,627,116470,NaN,350317,595578,589829,794624,794624,526242,526242,844028.0
mean,NaN,NaN,37.830546,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,13.634125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,10.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,27.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,35.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,47.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
# choose the 1st reason not equals to NA for stops that are stopped for more than 1 reason
count = 0
sanity_check_df = []
for i in range(sanfrancisco.shape[0]):
    temp = str(sanfrancisco.loc[i, "reason_for_stop"]).split("|")
    num_of_categories = len(temp)
    if (num_of_categories > 1):
        if temp[0] != "NA":
            sanfrancisco.loc[i, "reason_for_stop"] = str(temp[0])
        else:
            sanfrancisco.loc[i, "reason_for_stop"] = str(temp[1])
        sanity_check_df.append(sanfrancisco.loc[i, ])
        count +=1
print("There are", count, "stops that are stopped for more than 1 reason.")
sanity_check_df = pd.DataFrame(sanity_check_df)
sanity_check_df.shape

print("\n\nEntries after cleaning:")

sanfrancisco["reason_for_stop"].value_counts()

There are 195 stops that are stopped for more than 1 reason.


Entries after cleaning:

Moving Violation                             526427
Mechanical or Non-Moving Violation (V.C.)    310423
MPC Violation                                  3219
Traffic Collision                              1202
BOLO/APB/Warrant                               1116
DUI Check                                       994
Assistance to Motorist                          842
Name: reason_for_stop, dtype: int64

In [17]:
# exporting the cleaned data into a csv file
file_path = "./sanfrancisco_cleaned.csv"
sanfrancisco.to_csv(path_or_buf=file_path, index=False);

***

Now that data cleaning is complete, we start our preparations for EDA.

In [18]:
#libraries used for EDA
import matplotlib.pyplot as plt # we only need pyplot
import seaborn as sns
sns.set()

from scipy.stats import chi2_contingency
import association_metrics as am

In [19]:
sanfrancisco = pd.read_csv("sanfrancisco_cleaned.csv")
sanfrancisco.head()

,date,district,subject_age,subject_race,subject_sex,outcome,contraband_found,search_vehicle,reason_for_stop,reasons_for_stop,no_of_reasons
0,2007-01-01,C,56.0,white,male,citation,search not conducted,False,Mechanical or Non-Moving Violation (V.C.),Mechanical or Non-Moving Violation (V.C.),1
1,2007-01-01,B,32.0,white,male,citation,search not conducted,False,Moving Violation,Moving Violation,1
2,2007-01-01,I,57.0,asian/pacific islander,female,citation,search not conducted,False,Moving Violation,Moving Violation,1
3,2007-01-01,A,31.0,hispanic,male,warning,search not conducted,False,Moving Violation,Moving Violation,1
4,2007-01-01,J,37.0,hispanic,female,citation,search not conducted,False,Moving Violation,Moving Violation,1

***
# Feature Engineering

##### Categorical: district, subject_race, subject_sex, outcome, contraband_found, search_vehicle, reason_for_stop
##### Numerical： subject_age

### Creating Age Band

In [20]:
#checking the age range
print("Min: ", min(sanfrancisco["subject_age"]) )
print("Max: ", max(sanfrancisco["subject_age"]))

Min:  10.0
Max:  100.0

In [21]:
#adding column ageband
sanfrancisco["ageband"] = ""

sanfrancisco.loc[(sanfrancisco["subject_age"] < 15), "ageband"] = "children"
sanfrancisco.loc[(sanfrancisco["subject_age"] >= 15) & (sanfrancisco["subject_age"] < 25), "ageband"] = "youth"
sanfrancisco.loc[(sanfrancisco["subject_age"] >= 25) & (sanfrancisco["subject_age"] < 65), "ageband"] = "adult"
sanfrancisco.loc[(sanfrancisco["subject_age"] >= 65), "ageband"] = "senior"

### Grouping Outcome As "with valid reason"

In [22]:
sanfrancisco["raw_outcome"] = sanfrancisco["outcome"]
sanfrancisco["outcome"] = sanfrancisco["outcome"].replace(["warning", "citation", "arrest"], "with valid reason")

In [23]:
# convert date into standard format

sanfrancisco["date"] = sanfrancisco["date"].apply(lambda x: pd.to_datetime(x))

In [24]:
for i in range(sanfrancisco.shape[0]):
    if "Moving Violation" in sanfrancisco.loc[i, "reasons_for_stop"]:
        sanfrancisco.loc[i, "m_v"] = True
    else:
        sanfrancisco.loc[i, "m_v"] = False
    if "Mechanical or Non-Moving Violation (V.C.)" in sanfrancisco.loc[i, "reasons_for_stop"]:
        sanfrancisco.loc[i, "mnm_v"] = True
    else:
        sanfrancisco.loc[i, "mnm_v"] = False
    if "MPC Violation" in sanfrancisco.loc[i, "reasons_for_stop"]:
        sanfrancisco.loc[i, "mpc_v"] = True
    else:
        sanfrancisco.loc[i, "mpc_v"] = False
    if "Traffic Collision" in sanfrancisco.loc[i, "reasons_for_stop"]:
        sanfrancisco.loc[i, "trafficol"] = True
    else:
        sanfrancisco.loc[i, "trafficol"] = False
    if "BOLO/APB/Warrant" in sanfrancisco.loc[i, "reasons_for_stop"]:
        sanfrancisco.loc[i, "b_a_w"] = True
    else:
        sanfrancisco.loc[i, "b_a_w"] = False
    if "DUI Check" in sanfrancisco.loc[i, "reasons_for_stop"]:
        sanfrancisco.loc[i, "dui_check"] = True
    else:
        sanfrancisco.loc[i, "dui_check"] = False
    if "Assistance to Motorist" in sanfrancisco.loc[i, "reasons_for_stop"]:
        sanfrancisco.loc[i, "assistance"] = True
    else:
        sanfrancisco.loc[i, "assistance"] = False

In [25]:
sanfrancisco.describe(include="all")

/tmp/ipykernel_3287/183396646.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  sanfrancisco.describe(include="all")

,date,district,subject_age,subject_race,subject_sex,outcome,contraband_found,search_vehicle,reason_for_stop,reasons_for_stop,no_of_reasons,ageband,raw_outcome,m_v,mnm_v,mpc_v,trafficol,b_a_w,dui_check,assistance
count,844223,844223,844223.000000,844223,844223,844223,844223,844223,844223,844223,844223.000000,844223,844223,844223,844223,844223,844223,844223,844223,844223
unique,3254,13,NaN,5,2,2,3,2,7,25,NaN,4,4,2,2,2,2,2,2,2
top,2009-03-20 00:00:00,H,NaN,white,male,with valid reason,search not conducted,False,Moving Violation,Moving Violation,NaN,adult,citation,True,False,False,False,False,False,False
freq,627,116470,NaN,350317,595578,829699,794624,794624,526427,526242,NaN,663605,589829,836851,533641,840986,843019,843104,843225,843378
first,2007-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,2016-06-30 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,37.830546,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,13.634125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.016324,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,10.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,27.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,35.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,47.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
# exporting the prepared data into a csv file
file_path = "./sanfrancisco_prepared.csv"
sanfrancisco.to_csv(path_or_buf=file_path, index=False);